.breadcrumbs {
    color: #999;
    font-size: 13px;
    font-family: Roboto;
    padding: 10px 20px;
    &__item {
        height: 16px;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        &::after {
            content: "\203A";
            display: inline-block;
            padding: 0 8px;
        }
        &:last-child::after{
            content: '';
        }
    }
    &__home {
        color: green;
        display: inline-flex;
        vertical-align: top;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
